body {
	background: #ffffff;
	margin: 0;
}

.leftScreen {
	background: #213546;
	position: absolute;
	height: 100%;
	width: 50%;
	z-index: -1;
}

.rightScreen {
	background: #555555;
	position: absolute;
	height: 100%;
	width: 50%;
	right: 0;
	z-index: -1;
}

.centerScreen {
	background-size: 100% 100%;
	position: absolute;
	height: 10%;
	width: 20%;
	top: 45%;
	left: 40%;
}

.centerScreen a {
	background: url(image/lakerslogo.jpg);
	background-position: center;
	background-size: 100% 100%;	
	width: 100%;
	height: 100%;
	
}